body {
    background-color: black;
}

#container {
    background-color: red;
}

img {
    color: white;
    box-shadow: 0px 0px 0px 5px;
}

.imgcontainer {
    display: inline-block;

    text-align: center;
}

#text {
    text-align: center;
    color: white;
    background-color: black;
}