body{
    background-color: whitesmoke;
}

table{
    margin-right: auto;
    margin-left: auto;

    border: 1px solid lightgrey;
}

table td{
    width: 250px;
    height: 25px;

    border: 1px solid black;
}

#table-status-bar{
    margin-right: auto;
    margin-left: auto;

    height: 25px;

    text-align: center;

    background-color: lightgoldenrodyellow;
}

#table-header{
    text-align: center;
    font-weight: bold;
}

.positive{
    color: lightgreen;
}

.neutral{
    color: grey;
}

.negative{
    color: #ff7d62;
}