body{
    color: yellow;
    background-color: #50ff6b;
}

p{
    margin: 20px;

    color: yellow;
}

.header{
    background-color: #008001;
}

.header h1{
    color: white;

    font-style: oblique;
    text-align: center;
}

.container{
    width: 100%;
}

.item-md{
    float: left;

    min-height: 420px;

    box-shadow: 0px 0px 0px 2px;

    color: #004601;
    background-color: #008001;
}

.item-lg{
    float: left;

    width: 100%;

    min-width: 150px;
    min-height: 420px;

    text-align: center;
    box-shadow: 0px 0px 0px 2px;

    color: #004601;
    background-color: #008001;
}

@media all and (min-width: 901px){
    .item-md{
        width: 33.3%;
        min-width: 290px;
    }

    .item-lg{
        width: 66.6%;
        min-width: 450px;
    }
}

@media all and (min-width: 451px) and (max-width: 900px){
    .header{
        font-size: 80%;
    }

    .item-md{
        width: 50%;
        min-width: 200px;
    }
}

@media all and (min-width: 150px) and (max-width: 450px){
    .header{
        font-size: 50%;
    }

    .item-md{
        width: 100%;
        min-width: 150px;
    }
}

.item-md .image{
    margin: 20px;
    text-align: center;
}

.item-md img{
    width: 60%;
    height: 60%;

    border-style: solid;
    border-width: 10px;
    border-color: yellow;
}

.item-md img:hover{
    border-color: red;
}

.item-lg table{
    width: 50%;

    min-width: 300px;
    min-height: 200px;

    font-style: oblique;

    margin-left: auto;
    margin-right: auto;

    color: #008001;
    background-color: white;
}

.item-lg table td{
    border-style: solid;
    border-width: 1px;
    border-color: #008001;
}

.item-lg .dag{
    color: black;
}